pytest>=8.0
pytest-rerunfailures>=14.0
pytest-xdist>=3.5
allure-pytest>=2.13
allure-python-commons>=2.13
click>=8.1
loguru>=0.7
PyYAML>=6.0
lxml>=5.0
Jinja2>=3.1
opencv-python>=4.9
numpy>=1.24
Pillow>=10.0
pytesseract>=0.3.10
requests>=2.31
adbutils>=2.0
tidevice>=0.9
facebook-wda>=1.4
